:root {
    /* website colors */
    --primary: rgb(61, 92, 70);
    --secondary: rgb(150, 161, 126);
    --turciary: rgb(183, 136, 90);

    /* pink mode colors */
    --pinkOne: pink;
    --pinkTwo: rgb(255, 192, 213);
    --pinkThree: rgb(235, 209, 213);

    /* Other site settings*/
    font-family: 'Playfair Display', serif;
    --header_height: 60px
}

header {
    color: var(--primary);
    background-color: rgb(0, 0, 0);
    width: 100%;
    top: 0;
    left: 0;
    margin: auto;
    height: 60px;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 99;
}

.logo {
    margin-left: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    border: 3px solid rgba(0, 0, 0, 0.8);
    transition-duration: 700ms;
}
.logo:hover {
    border-color: var(--turciary);
    border-style: solid;
}

nav {
    color: black;
    background-color: rgba(255, 255, 255, 0.356);
    width: 80%;
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    border-radius: 20px;
    text-align: center;
}

main {
    color: gray;
    position: relative;
    border-radius: 6px;
    transition-duration: 700ms;
    width: 95%;
    margin: auto;
    top: 60px;
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
}

.content {
    /* background-color: rgba(0, 0, 0, .8); */
    border-radius: 10px;
    margin: 4px;
    margin-left: auto;
    margin-right: auto;
    width: clamp(300px, 48%, 48%);
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    transition-duration: 700ms;
}
.content:hover{border-color: rgba(255, 255, 255, 0.15);}

h1 {
    color: var(--primary);
    font-weight: bold;
    height: 54px;
}

.content-text {
    color: black;
    padding: 4px;
    margin: auto;
    padding-top: 0px;
}

.content-image {
    padding: 4px;
    padding-top: 0px;
    width: 98%;
    max-width: 500px;
    max-height: 500px;
    
}

footer {
    position: relative;
    top: 70px;
    margin-top: 4px;
    width: 100%;
    border-width: 10px;
    display: flex;
    flex-direction: row;
    border-top-color: var(--secondary);
    border-top-width: 2px;
    border-top-style: solid;
}

.socials {
    flex: 1 1 40%;
    padding: 4px;
    display: grid;
    grid: repeat(4, 1fr);
    grid-template-columns: repeat(2, 50px);
    transition-duration: 700ms;
}
.social-img {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30%;
    padding: 3px;
    width: 40px;
    height: 40px;
}
.social-img:hover {background-color: rgba(0, 0, 0, 0.3);}

.disclaimer {
    font-size: x-small;
    flex: 1 1 40%;
    padding: 4px;
}

